@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-handwriting {
  font-family: 'Monotype Corsiva', 'Petit Formal Script', cursive;
}
